* {
  margin: 0;
  padding: 0;
}

article {
  width: 800px;
  margin: 30px auto;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 10px;
  align-items: center;
}

img {
  width: 100%;
  margin-bottom: 10px;
}
